<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Lingua del profilo</h5>
      <h5>
        <i class="fa-solid fa-pen" style="color: #858585"></i>
      </h5>
    </div>
    <div class="d-flex">
      <p class="text-secondary">Italiano</p>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Public profile & URL</h5>
      <h5>
        <i class="fa-solid fa-pen" style="color: #858585"></i>
      </h5>
    </div>
    <div class="d-flex">
      <p class="text-secondary">www.linkedin.com/in/user</p>
    </div>
  </div>
</div>

<div class="card mb-2">
  <img
    src="https://media.licdn.com/media/AAYQAgTPAAgAAQAAAAAAADVuOvKzTF-3RD6j-qFPqhubBQ.png"
    class="card-img-top"
    alt="banner-pubblicitá"
  />
</div>
<div class="card mb-2">
  <div class="card-body">
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Michele Arcangelo Tedesco</h5>
      <p class="card-text">Cpt Jack Sparrow</p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Giovanni Scarantino</h5>
      <p class="card-text">
        Fullstack Developer <br />
        Almeno uno di serio
      </p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Giulia Orlando</h5>
      <p class="card-text">Qualcosa con le lingue</p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Alessio Portacci</h5>
      <p class="card-text">Con la felpa in estate</p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Paolo Esposito</h5>
      <p class="card-text">Quello col corno</p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Lorenzo Aluigi</h5>
      <p class="card-text">Boomer ma ora un po' meno</p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
    <div class="mb-3 d-flex flex-column align-items-start">
      <h5 class="card-title">Alessandro Giorgino</h5>
      <p class="card-text">Un uomo davvero strano</p>
    </div>
    <a href="#" class="btn btn-outline-secondary mb-3">Collegati</a>
    <hr />
  </div>
</div>

<div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Potrebbe interessarti</h5>
      <div>
        <div class="d-flex justify-content-around align-items-center">
          <!-- <iframe
          width="140"
          height="70"
          src="https://www.youtube.com/embed/PfcEemUX6Ps"
          title="Come si usa Linkedin? Tutorial per principianti"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe> -->
          <p class="ms-5">Come si usa LinkedIn?</p>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-3">
          <!-- <iframe
          width="140"
          height="70"
          src="https://www.youtube.com/embed/vV3QIEXDdvA"
          title="10 CONSIGLI per sfruttare al meglio LINKEDIN!"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="ms-1"
        ></iframe> -->
          <p>10 CONSIGLI per sfruttare al meglio LINKEDIN!</p>
        </div>
      </div>
    </div>
  </div>
</div>
