<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Lingua del profilo</h5>
      <h5>
        <i class="fa-solid fa-pen" style="color: #858585"></i>
      </h5>
    </div>
    <div class="d-flex">
      <p class="text-secondary">Italiano</p>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Public profile & URL</h5>
      <h5>
        <i class="fa-solid fa-pen" style="color: #858585"></i>
      </h5>
    </div>
    <div class="d-flex">
      <p class="text-secondary">www.linkedin.com/in/user</p>
    </div>
  </div>
</div>

<div class="card mb-2">
  <img
    src="https://media.licdn.com/media/AAYQAgTPAAgAAQAAAAAAADVuOvKzTF-3RD6j-qFPqhubBQ.png"
    class="card-img-top"
    alt="banner-pubblicitá"
  />
</div>
<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex flex-column align-items-start mb-5">
      <h5 class="card-title h5-persone">Persone che potresti conoscere</h5>
      <p class="text-secondary">Dalla tua scuola o università</p>
    </div>
    <div class="d-flex justify-content-start">
      <div>
        <img
          class="avatar"
          src="https://media-assets.vanityfair.it/photos/614c4309fa2a31ace47299e5/1:1/w_1065,h_1065,c_limit/GettyImages-484145376.jpg"
        />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Michele A. Tedesco</h6>
        <p class="card-text">Cpt Jack Sparrow</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
    <div class="d-flex justify-content-start">
      <div>
        <img
          class="avatar"
          src="https://media.licdn.com/dms/image/D4D35AQE11-mIrK1JuQ/profile-framedphoto-shrink_800_800/0/1692799220231?e=1693479600&v=beta&t=FRE-FAVYecskkzUXnMWMGO8fyKvKSByki-KNHxZ_7Tw"
        />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Giulia Orlando</h6>
        <p class="card-text">Qualcosa con le lingue</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
    <div class="d-flex justify-content-start">
      <div>
        <img
          class="avatar"
          src="https://media.licdn.com/dms/image/D4D03AQH1SmgW93Folw/profile-displayphoto-shrink_800_800/0/1673700415254?e=1698278400&v=beta&t=1hSNc5Pyc-phCg7cjcxNU7BKO_bK2xe5AA33g8ahDc0"
        />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Giovanni Scarantino</h6>
        <p class="card-text">Fullstack Developer <br />Almeno uno di serio</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
    <div class="d-flex justify-content-start">
      <div>
        <img
          class="avatar"
          src="https://c8.alamy.com/compit/ct3jyf/berlino-vichinghi-avvisatore-acustico-soffia-in-ct3jyf.jpg"
        />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Paolo Esposito</h6>
        <p class="card-text">Quello col corno</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
    <div class="d-flex justify-content-start">
      <div>
        <img
          class="avatar"
          src="https://media.licdn.com/dms/image/D4D35AQEnZxC2w7pYBw/profile-framedphoto-shrink_800_800/0/1692797116982?e=1693479600&v=beta&t=UmOSH4t4jBfmnWSpOJSnLHGMV_7kbKqIHh4X0vyN83s"
        />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Sebastiano Castorina</h6>
        <p class="card-text">Il boss delle cerimonie</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
    <div class="d-flex justify-content-start">
      <div>
        <img class="avatar" src="https://i.postimg.cc/hG4VKpcP/rob.png" />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Simone Potenza</h6>
        <p class="card-text">Identico al mio <br />amico Roberto</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
    <div class="d-flex justify-content-start">
      <div>
        <img
          class="avatar"
          src="https://i.pinimg.com/originals/93/fc/44/93fc4441d7bcc37f8674ee15faf77d41.png"
        />
      </div>
      <div class="mb-3 ms-3 d-flex flex-column align-items-start">
        <h6 class="card-title">Alessandro Giorgino</h6>
        <p class="card-text">Un uomo davvero strano</p>
      </div>
    </div>
    <a class="btn btn-outline-secondary mb-3">Collegati</a>

    <hr />
  </div>
</div>

<div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Potrebbe interessarti</h5>
      <div>
        <div class="d-flex justify-content-around align-items-center">
          <!-- <iframe
          width="140"
          height="70"
          src="https://www.youtube.com/embed/PfcEemUX6Ps"
          title="Come si usa Linkedin? Tutorial per principianti"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe> -->
          <p class="ms-5">Come si usa LinkedIn?</p>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-3">
          <!-- <iframe
          width="140"
          height="70"
          src="https://www.youtube.com/embed/vV3QIEXDdvA"
          title="10 CONSIGLI per sfruttare al meglio LINKEDIN!"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="ms-1"
        ></iframe> -->
          <p>10 CONSIGLI per sfruttare al meglio LINKEDIN!</p>
        </div>
      </div>
    </div>
  </div>
</div>
