<div class="card mb-3">
  <img
    src="https://media.licdn.com/dms/image/C4D16AQGfPgISwtHl9A/profile-displaybackgroundimage-shrink_200_800/0/1663335786128?e=2147483647&v=beta&t=y03DXiywUIDWSoTmtl5nfNfzfX5Fz96-6ruu59oSank"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <img
      id="banner"
      src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
      class="rounded-circle rounded-0"
      alt="..."
    />
    <a routerLink="/user">
      <h5 class="card-title">{{ user?.name }} {{ user?.surname }}</h5></a
    >
    <p class="card-text">{{ user?.title }}</p>
    <hr />
    <div class="text-start">
      <p class="mb-0">Collegamenti</p>
      <p><b>Espandi la tua rete</b></p>
    </div>
    <hr />
    <p class="text-start">Accedi a strumenti e informazioni in esclusiva</p>
    <hr />
    <div class="d-flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-sticky-fill me-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z"
        />
      </svg>
      <p class="card-text">
        <small class="text-body-secondary">I miei elementi</small>
      </p>
    </div>
  </div>
</div>
