<div class="p-4">
  <div class="postContainer">
    <div class="d-flex align-items-center mb-2">
      <img src="{{ post.user.image }}" class="profileImage" alt="profile-pic" />
      <p class="m-0 ps-2 fw-bold">
        {{ post.user.name }} {{ post.user.surname }}
      </p>
    </div>
    <p class="text-secondary">
      Creato il: {{ post.createdAt | date : "longDate" }}
    </p>
    <p class="fst-italic">{{ post.text }}</p>
  </div>
  <div class="mt-2 text-secondary">
    <a (click)="openComment(comment, post._id)"
      ><i class="fa-regular fa-comment-dots"></i> Commenta</a
    >
  </div>
  <div class="mt-2" *ngIf="postComments.length > 0">
    Commenti:
    <div class="singleComment" *ngFor="let comment of postComments">
      {{ comment.comment }}
    </div>
  </div>
</div>

<!-- MODALE AGGIUNGI COMMENTO-->
<ng-template #comment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi commento</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submitComment(fc)" #fc="ngForm">
      <input
        class="form-control"
        type="text"
        placeholder="Aggiungi commento"
        ngModel
        name="comment"
      />
      <input
        class="form-control"
        type="number"
        placeholder="Dai un voto da 1 a 5"
        ngModel
        name="rate"
      />
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="submitComment(fc)"
      (click)="modal.dismiss()"
    >
      Salva
    </button>
  </div>
</ng-template>
<!-- FINE MODALE AGGIUNGI COMMENTO -->
