.profileImage {
  border-radius: 50%;
  width: 50px;
}

.btnPost {
  border-radius: 30px;
}

a {
  color: black;
  cursor: pointer;
}

.postContainer {
  border: 1px solid rgb(209, 209, 209);
  padding:8px;
  border-radius: 10px;
}

.singleComment{
  margin-top: 5px;
  border: 1px outset rgb(209, 209, 209);
}
