<div class="row justify-content-center m-0 mt-4 mb-4">
  <div class="leftColumn col-6">
    <div class="row mb-2">
      <div class="col-4"><a routerLink="info">Informazioni</a></div>
      <div class="col-4"><a routerLink="accessibilita">Accessibilità</a></div>
      <div class="col-4">
        <a routerLink="talent_solution">Talent Solution</a>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <a routerLink="home">Linee guida della community</a>
      </div>

      <div class="col-4"><a routerLink="carriera">Carriera</a></div>
      <div class="col-4">
        <a routerLink="soluzioni_marketing">Soluzioni di marketing</a>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <a routerLink="privacy">Privacy e condizioni</a>
      </div>
      <div class="col-4">
        <a routerLink="opzioni_annunci">Opzioni per gli annunci pubblicitari</a>
      </div>
      <div class="col-4"><a routerLink="pubblicita">Pubblicità</a></div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <a routerLink="sales_solutions">Sales Solutions</a>
      </div>
      <div class="col-4"><a routerLink="mobile">Mobile</a></div>
      <div class="col-4">
        <a routerLink="piccole_imprese">Piccole imprese</a>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><a routerLink="home">Centro sicurezza</a></div>
      <!-- <div class="col-4"><a routerLink="home">Mobile</a></div>
    <div class="col-4"><a routerLink="home">Piccole imprese</a></div> -->
    </div>
  </div>
  <div class="rightColumn col-5 row">
    <ul class="col-6">
      <li>
        <i class="fa-solid fa-circle-question"></i>
        <a>Domande?</a>
        <p>Visita il nostro Centro assistenza.</p>
      </li>
      <li>
        <i class="fa-solid fa-gear"></i>
        <a>Gestisci il tuo account e la tua privacy</a>
        <p>Vai alle impostazioni.</p>
      </li>
      <li>
        <i class="fa-solid fa-shield-halved"></i>
        <a>Trasparenza sui contenuti consigliati</a>
        <p>Scopri di più sui contenuti consigliati.</p>
      </li>
    </ul>
    <div class="form-floating col-6">
      <h2>Seleziona lingua</h2>
      <select
        class="p-2 px-5 pe-5"
        id="floatingSelect"
        aria-label="Floating label select example"
      >
        <option selected>Italiano</option>
        <option value="1">Inglese</option>
        <option value="2">Tedesco</option>
        <option value="3">Spagnolo</option>
      </select>
    </div>
  </div>
</div>
