<div class="row">
  <div class="col-9">
    <app-user-info></app-user-info>
    <app-consigliato-per-te></app-consigliato-per-te>
    <app-analisi></app-analisi>
    <app-risorse></app-risorse>
    <app-attivita></app-attivita>
    <app-esperienza></app-esperienza>
    <app-formazione></app-formazione>
    <app-competenze></app-competenze>
    <app-lingue></app-lingue>
    <app-interessi></app-interessi>
    <app-cause></app-cause>
  </div>
  <div class="aside col-3">
    <app-aside></app-aside>
  </div>
</div>
