<div class="card mb-2">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="card-title mt-2">Consigliato per te</h5>
    <div class="d-flex">
      <p class="text-secondary">
        <i class="fa-solid fa-eye me-1" style="color: #999b9f"></i>
        Solo per te
      </p>
    </div>

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex">
            <div class="carousel-cards" class="card m-2 d-block">
              <div class="card-body">
                <h5 class="card-title">In quale settore lavori?</h5>
                <p class="card-text">
                  Gli utenti che aggiungono un settore ricevono fino a 2,5 volte
                  più visualizzazioni del profilo.
                </p>
                <a href="#" class="btn btn-outline-secondary"
                  >Aggiungi settore</a
                >
              </div>
            </div>

            <div class="carousel-cards" class="card m-2 d-block">
              <div class="card-body">
                <h5 class="card-title">
                  Quale scuola o università hai frequentato?
                </h5>
                <p class="card-text">
                  Gli utenti che includono una scuola o università ricevono fino
                  a 2,2 volte più visualizzazioni del profilo.
                </p>
                <a href="#" class="btn btn-outline-secondary"
                  >Aggiungi titolo di studio</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex">
            <div class="carousel-cards" class="card m-2 d-block">
              <div class="card-body">
                <h5 class="card-title">
                  Aggiungi le tue competenze per mostrare la tua esperienza
                </h5>
                <p class="card-text">
                  Gli utenti che indicano almeno una competenza ricevono fino a
                  4 volte più visualizzazioni del profilo.
                </p>
                <a href="#" class="btn btn-outline-secondary"
                  >Aggiungi una competenza</a
                >
              </div>
            </div>

            <div class="carousel-cards" class="card m-2 d-block">
              <div class="card-body">
                <h5 class="card-title">
                  Scrivi un riepilogo per mettere in evidenza la tua personalità
                  o l'esperienza lavorativa
                </h5>
                <p class="card-text">
                  Gli utenti che includono un riepilogo ricevono fino a 3,9
                  volte più visualizzazioni del profilo.
                </p>
                <a href="#" class="btn btn-outline-secondary"
                  >Aggiungi un riepilogo</a
                >
              </div>
            </div>
          </div>
        </div>

        <button
          id="control-buttons"
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          id="control-buttons"
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
