<div class="row justify-content-center">
  <div class="col-8">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifica esperienza</h4>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submit(f)" #f="ngForm">
        <div class="d-none">
          <label for="role">id</label>
          <input
            class="form-control"
            type="text"
            placeholder="id"
            ngModel
            name="_id"
          />
          <label for="role">username</label>
          <input
            class="form-control"
            type="text"
            placeholder="username"
            ngModel
            name="username"
          />
          <label for="role">user</label>
          <input
            class="form-control"
            type="text"
            placeholder="user"
            ngModel
            name="user"
          />
          <label for="role">__v</label>
          <input
            class="form-control"
            type="text"
            placeholder="__v"
            ngModel
            name="__v"
          />
          <label for="area">Creato il</label>
          <input
            class="form-control"
            type="date"
            placeholder="Creato il"
            ngModel
            name="createdAt"
          />
          <label for="area">Modificato il</label>
          <input
            class="form-control"
            type="date"
            placeholder="Modificato il"
            ngModel
            name="updatedAt"
          />
        </div>
        <label for="role">Ruolo</label>
        <input
          class="form-control"
          type="text"
          placeholder="Ruolo"
          ngModel
          name="role"
        />
        <label for="company">Compagnia</label>
        <input
          class="form-control"
          type="text"
          placeholder="Compagnia"
          ngModel
          name="company"
        />

        <label for="startDate">Data inizio esperienza</label>
        <div class="input-group">
          <input
            id="startDate"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="startDate"
            type="date"
            ngModel
          />
        </div>
        <label for="endDate">Data fine esperienza</label>
        <div class="input-group">
          <input
            id="endDate"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="endDate"
            type="date"
            ngModel
          />
        </div>
        <label for="description">Descrizione</label>
        <input
          class="form-control"
          type="text"
          placeholder="Descrizione"
          ngModel
          name="description"
        />
        <label for="area">Luogo/Territorio</label>
        <input
          class="form-control"
          type="text"
          placeholder="Luogo/Territorio"
          ngModel
          name="area"
        />
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-between mt-3">
      <button type="button" class="btn btn-success" (click)="submit(f)">
        Salva
      </button>
      <button type="button" class="btn btn-danger" (click)="delete()">
        Elimina
      </button>
    </div>
  </div>
</div>
