img {
  width: 165% !important;
  margin-right: 1,5em !important;
  margin-left: 6em !important;

}
  #ciao{
    width: 50px;
    margin-right: 1,5em !important;
  }

  #cerca {
    margin-left: 6.5em !important;
    margin-top: 0;
  }

  #home{
    margin-left: 7.5em !important;
    margin-right: 1.5em !important;
  }

  #rete  {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }

  #lavoro {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }


  #messaggi {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }

  #notifiche {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }

  #tu{
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }


  .cursore{
    cursor: pointer;
  }

#aziende{
  margin-left: 2.5em !important;
  margin-right: 2.5em !important;
}
