nav {
  border-bottom: 1px solid rgb(207, 207, 207);
}

ul {
  border-right: 1px solid rgb(207, 207, 207);
}

#logo {
  width: 35px;
  margin-right: 1, 5em !important;
}

li {
  margin: 0 1em;
  cursor: pointer;
  font-size: 0.8em;
}

.search {
  top: 10%;
  left: 3%;
}

input {
  padding-left: 1.5em;
  background-color: aliceblue;
}

.dropdown {
  margin: 0 1.2em;
  p {
    margin: 0;
    font-size: 1em;
  }

  a {
    padding: 0;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}

.hover-effect:hover {
  background-color: #f0f0f0;
  color: #333;
}
