<div class="card mb-2">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="card-title mt-2">Risorse</h5>
    <div class="d-flex">
      <p class="text-secondary">
        <i class="fa-solid fa-eye me-1" style="color: #999b9f"></i>
        Solo per te
      </p>
    </div>

    <div class="container-fluid">
      <div class="d-flex">
        <div>
          <h4>
            <i class="fas fa-satellite-dish" style="color: #000000"></i>
          </h4>
        </div>
        <div class="d-flex flex-column align-items-start">
          <h6 class="ms-3">Modalità creazione di contenuti</h6>
          <p class="ms-3">
            Fatti scoprire, metti in risalto i contenuti sul tuo profilo e
            accedi agli strumenti di creazione
          </p>
        </div>
      </div>

      <hr />
      <div class="d-flex">
        <div>
          <h4>
            <i class="fa-solid fa-users" style="color: #000000"></i>
          </h4>
        </div>
        <div class="d-flex flex-column align-items-start">
          <h6 class="ms-3">La mia rete</h6>
          <p class="ms-3">Salva e gestisci i tuoi collegamenti e interessi.</p>
        </div>
      </div>

      <hr />

      <div>Mostra tutte le risorse (5)</div>
    </div>
  </div>
</div>
