<div class="d-flex flex-column homeNews">
  <div class="d-flex justify-content-between">
    <div class="mb-3">
      <h5>LinkedIn Notizie</h5>
    </div>
    <div><i class="fa-solid fa-circle-info" style="color: #000000"></i></div>
  </div>
  <div>
    <ul>
      <li class="singleLi">
        <div class="singleNews">
          <h6 class="newsTitle">• Uno sguardo alle offerte di lavoro</h6>
          <p class="text-secondary ms-2">23 ore fa</p>
        </div>
      </li>
      <li class="singleLi">
        <div class="singleNews">
          <h6 class="newsTitle">• Occhi puntati sul Nasdaq</h6>
          <p class="text-secondary ms-2">1 giorno fa • 300 lettori</p>
        </div>
      </li>
      <li class="singleLi">
        <div class="singleNews">
          <h6 class="newsTitle">• Nuovi record per lo zero termico</h6>
          <p class="text-secondary ms-2">2 giorni fa • 112 lettori</p>
        </div>
      </li>
      <li class="singleLi">
        <div class="singleNews">
          <h6 class="newsTitle">• I rincari che ci aspettano</h6>
          <p class="text-secondary ms-2">6 ore fa</p>
        </div>
      </li>
      <li class="singleLi">
        <div class="singleNews">
          <h6 class="newsTitle">
            • Dimissioni per senso di colpa: riflessioni
          </h6>
          <p class="text-secondary ms-2">13 ore fa</p>
        </div>
      </li>
    </ul>
  </div>
</div>
