<!-- MODALE UPDATE USER-->
<ng-template #updateUser let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica utente</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submit(fu)" #fu="ngForm">
      <label for="name">Nome</label>
      <input
        class="form-control"
        type="text"
        placeholder="Nome"
        ngModel
        name="name"
      />
      <label for="surname">Cognome</label>
      <input
        class="form-control"
        type="text"
        placeholder="Cognome"
        ngModel
        name="surname"
      />

      <label for="email">email</label>
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          placeholder="email"
          ngModel
          name="email"
        />
      </div>
      <label for="title">Titolo</label>
      <input
        class="form-control"
        type="text"
        placeholder="Titolo"
        ngModel
        name="title"
      />
      <label for="bio">Bio</label>
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          placeholder="Bio"
          name="bio"
          ngModel
        />
      </div>

      <label for="area">Luogo/Territorio</label>
      <input
        class="form-control"
        type="text"
        placeholder="Luogo/Territorio"
        ngModel
        name="area"
      />
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="submit(fu)"
      (click)="modal.dismiss()"
    >
      Salva modifiche utente
    </button>
  </div> -->
</ng-template>
<!-- <ng-container *ngTemplateOutlet="updateUser" ></ng-container> -->
<!-- FINE MODALE UPDATE USER -->

<div class="card mb-2">
  <div class="profileImageContainer">
    <img src="{{ user?.image || '' }}" class="profileImage" alt="profile-pic" />
  </div>
  <div class="card-body">
    <div class="d-flex flex-column align-items-start">
      <h5 class="card-title">
        {{ user?.name || "" }} {{ user?.surname || "" }}
        <i
          (click)="open()"
          class="fas fa-pencil-alt me-2"
          style="color: #999b9f"
        ></i>
      </h5>
      <p class="card-text">
        {{ user?.title || "" }}
      </p>
      <p class="card-text">{{ user?.bio || "" }}</p>
      <div class="d-flex">
        <p class="card-text area">
          {{ user?.area || "" }}
        </p>
        <a class="info card-text">Informazioni di contatto</a>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <a href="#" class="btn btn-primary button">Disponibile per</a>
      <a href="#" class="btn btn-outline-primary button"
        >Aggiungi sezione del profilo</a
      >
      <div class="dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Altro
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"
              >↪️ Invia il profilo in un messaggio</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#">⤵️ Salva come PDF</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              ℹ️ Informazioni su questo profilo</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
